#home-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #form,
    #list {
        width: 48%;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        font-size: 22px;
    }

    #load-button {
        background-color: #f2f2f2;
        text-transform: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03) !important;
        }
    }
}