#mission-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .drop-file {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 20px 0;
        border-width: 2px;
        border-radius: 2px;
        border-color: #eeeeee;
        border-style: dashed;
        background-color: #fafafa;
        color: #bdbdbd;
        outline: none;
        transition: border .24s ease-in-out;
        height: 250px;
    }


    #file-error {
        color: #f44336;
        margin-left: 14px;
        margin-right: 14px;
        font-size: 0.75rem;
        margin-top: 3px;
        text-align: left;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.03333em;
    }

    .preview {
        display: 'inline';

        &.large {
            width: 100px !important;
            height: 100px !important;
        }

    }

    .submit {
        background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
        box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
        color: white !important;
        height: 48px;
    }
}